{% load static %}

<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="/static/css/animate.min.css">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/static/css/ours.css">
        <title>Text simplified</title>

    </head>

    <body data-spy="scroll" data-offset="120">

      <div class="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- End Preloader Area -->

    <!-- Start Navbar Area -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="logo">
                <a href="/">
                    <h3 style="width: 245px;">Text simplifier</h3>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            About
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/feat" class="nav-link">
                            Features
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            Screenshots
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            FAQ
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            Contact
                        </a>
                    </li>
                </ul>

                <div class="others-option">
                    <div class="d-flex align-items-center">
                        <div class="option-item">
                            <a href="#features" class="default-btn">
                                Try It Free
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar Area ---------------------------------------------------------------------------->




      <form action="" method="post" enctype="multipart/form-data"  class="outerDiv">

        {% csrf_token %}
        {% comment %} <div class="mb-3 form-group">
          <label for="exampleFormControlInput1" class="form-label">Task</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3 form-group">
          <label for="desc" class="form-label">Task Description</label>
          <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
        </div> {% endcomment %}
    
        <textarea class="form-control" id="desc" name="desc" rows="3">{{tasks}}</textarea>
        <div class="imgTxt">
          <div class="mb-3 form-group">
            <label for="" class="form-label bold">Upload the image</label>
            <input class="form-control " type="file" id="img1" name="img1" accept="image/*">
          </div>
          <p for="dog-names" class="h4">Choose from more than 100 languages:</p>
      <div class="mb-3 form-group">
        <select class="form-control" name="langto" id="langto">
          <option value="afrikaans">Afrikaans</option>
          <option value="albanian">Albanian</option>
          <option value="amharic">Amharic</option>
          <option value="arabic">Arabic</option>
          <option value="armenian">Armenian</option>
          <option value="azerbaijani">Azerbaijani</option>
          <option value="basque">Basque</option>
          <option value="belarusian">Belarusian</option>
          <option value="bengali">Bengali</option>
          <option value="bosnian">Bosnian</option>
          <option value="bulgarian">Bulgarian</option>
          <option value="catalan">Catalan</option>
          <option value="cebuano">Cebuano</option>
          <option value="chichewa">Chichewa</option>
          <option value="chinese (simplified)">Chinese (simplified)</option>
          <option value="chinese (traditional)">Chinese (traditional)</option>
          <option value="corsican">Corsican</option>
          <option value="croatian">Croatian</option>
          <option value="czech">Czech</option>
          <option value="danish">Danish</option>
          <option value="dutch">Dutch</option>
          <option value="english">English</option>
          <option value="esperanto">Esperanto</option>
          <option value="estonian">Estonian</option>
          <option value="filipino">Filipino</option>
          <option value="finnish">Finnish</option>
          <option value="french">French</option>
          <option value="frisian">Frisian</option>
          <option value="galician">Galician</option>
          <option value="georgian">Georgian</option>
          <option value="german">German</option>
          <option value="greek">Greek</option>
          <option value="gujarati">Gujarati</option>
          <option value="haitian creole">Haitian creole</option>
          <option value="hausa">Hausa</option>
          <option value="hawaiian">Hawaiian</option>
          <option value="hebrew">Hebrew</option>
          <option value="hebrew">Hebrew</option>
          <option value="hindi">Hindi</option>
          <option value="hmong">Hmong</option>
          <option value="hungarian">Hungarian</option>
          <option value="icelandic">Icelandic</option>
          <option value="igbo">Igbo</option>
          <option value="indonesian">Indonesian</option>
          <option value="irish">Irish</option>
          <option value="italian">Italian</option>
          <option value="japanese">Japanese</option>
          <option value="javanese">Javanese</option>
          <option value="kannada">Kannada</option>
          <option value="kazakh">Kazakh</option>
          <option value="khmer">Khmer</option>
          <option value="korean">Korean</option>
          <option value="kurdish (kurmanji)">Kurdish (kurmanji)</option>
          <option value="kyrgyz">Kyrgyz</option>
          <option value="lao">Lao</option>
          <option value="latin">Latin</option>
          <option value="latvian">Latvian</option>
          <option value="lithuanian">Lithuanian</option>
          <option value="luxembourgish">Luxembourgish</option>
          <option value="macedonian">Macedonian</option>
          <option value="malagasy">Malagasy</option>
          <option value="malay">Malay</option>
          <option value="malayalam">Malayalam</option>
          <option value="maltese">Maltese</option>
          <option value="maori">Maori</option>
          <option value="marathi">Marathi</option>
          <option value="mongolian">Mongolian</option>
          <option value="myanmar (burmese)">Myanmar (burmese)</option>
          <option value="nepali">Nepali</option>
          <option value="norwegian">Norwegian</option>
          <option value="odia">Odia</option>
          <option value="pashto">Pashto</option>
          <option value="persian">Persian</option>
          <option value="polish">Polish</option>
          <option value="portuguese">Portuguese</option>
          <option value="punjabi">Punjabi</option>
          <option value="romanian">Romanian</option>
          <option value="russian">Russian</option>
          <option value="samoan">Samoan</option>
          <option value="scots gaelic">Scots gaelic</option>
          <option value="serbian">Serbian</option>
          <option value="sesotho">Sesotho</option>
          <option value="shona">Shona</option>
          <option value="sindhi">Sindhi</option>
          <option value="sinhala">Sinhala</option>
          <option value="slovak">Slovak</option>
          <option value="slovenian">Slovenian</option>
          <option value="somali">Somali</option>
          <option value="spanish">Spanish</option>
          <option value="sundanese">Sundanese</option>
          <option value="swahili">Swahili</option>
          <option value="swedish">Swedish</option>
          <option value="tajik">Tajik</option>
          <option value="tamil">Tamil</option>
          <option value="telugu">Telugu</option>
          <option value="thai">Thai</option>
          <option value="turkish">Turkish</option>
          <option value="ukrainian">Ukrainian</option>
          <option value="urdu">Urdu</option>
          <option value="uyghur">Uyghur</option>
          <option value="uzbek">Uzbek</option>
          <option value="vietnamese">Vietnamese</option>
          <option value="welsh">Welsh</option>
          <option value="xhosa">Xhosa</option>
          <option value="yiddish">Yiddish</option>
          <option value="yoruba">Yoruba</option>
          <option value="zulu">Zulu</option>
          
        </select>
      </div>
          <button type="submit" class="btn btn-primary btn-lg" id="check">Convert</button>
          </form>
          <!-- <button type="button" class="btn btn-secondary btn-lg"><a style="text-decoration: none; color: white  ;"
            href="/tasks">Convert</a></button> -->
        </div>






        <!-- Start Footer Area -->
        <section class="footer-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <a href="#" class="logo">
                                <h2>Web Simplifier</h2>
                            </a>
                            <p>Convert your text in any form just by click of a button.</p>
                            <ul class="social-list">
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>Company</h3>
                            <ul class="list">
                                <li>
                                    <a href="#">
                                        About
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Carrers
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Awards
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        User Program
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Locations
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Login
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Products</h3>
                            <ul class="list">
                                <li>
                                    <a href="#">
                                        Integrations
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        API
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Documentation
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Sign Up
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Release Notes
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        User Program
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Footer Area -->

        <!-- Start Copy Right Area -->
        <div class="copy-right">
            <div class="container">
                <div class="copy-right-content">
                    <p>
                        Copyright © 2022 Text Simplified. All Rights Reserved by
                        <a href="https://hibootstrap.com" target="_blank">
                            Team1
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="fa fa-chevron-up"></i>
            <i class="fa fa-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->


        <!-- jQuery Min JS -->
        <script src="/static/js/jquery-3.5.1.min.js"></script>
        <!-- Popper Min JS -->
        <!-- <script src="/static/js/popper.min.js"></script> -->
        <!-- Bootstrap Min JS -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="/static/js/owl.carousel.min.js"></script>
        <!-- Appear JS -->
        <script src="/static/js/jquery.appear.js"></script>
        <!-- Odometer JS -->
        <script src="/static/js/odometer.min.js"></script>
        
        <script src="/static/js/main.js"></script>
        <script>
          document.getElementById("check").addEventListener("click", function () { alert("Image uploaded successfully") });
        </script>
    </body>
</html>