{% load static %}

<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="/static/css/animate.min.css">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/static/css/hello.css">
        <title>Text simplified</title>

    </head>

    <body data-spy="scroll" data-offset="120">

        <!-- Start Preloader Area -->
        <div class="preloader">
            <div class="preloader">
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- End Preloader Area -->

        <!-- Start Navbar Area -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="logo">
                    <a href="index.html">
                        <h3 style="width: 245px;">Text simplifier</h3>
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#home" class="nav-link">
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#about" class="nav-link">
                                About
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#features" class="nav-link" id="feat">
                                Features
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#screenshots" class="nav-link">
                                Screenshots
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#faq" class="nav-link">
                                FAQ
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#contact" class="nav-link">
                                Contact
                            </a>
                        </li>
                    </ul>

                    <div class="others-option">
                        <div class="d-flex align-items-center">
                            <div class="option-item">
                                <a href="#features" class="default-btn">
                                    Try It Free
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Navbar Area -->

        <!-- Start Main Banner Area -->
        <div id="home"  class="main-banner">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="banner-content">
                                    <h1>Text Simplifier</h1>
                                    <p>Text made Interesting! Convert, Transalte and even text to speech Anything
                                        we got it covered</p>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="banner-image">
                                    <img src="/static/img/Allura - UI Windows.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="default-shape">
                <div class="shape-1">
                    <img src="/static/img/shape/1.png" alt="image">
                </div>

                <div class="shape-2 rotateme">
                    <img src="/static/img/shape/2.png" alt="image">
                </div>

                <div class="shape-3">
                    <img src="/static/img/shape/3.svg" alt="image">
                </div>

                <div class="shape-4">
                    <img src="/static/img/shape/4.svg" alt="image">
                </div>

                <div class="shape-5">
                    <img src="/static/img/shape/5.png" alt="image">
                </div>
            </div>
        </div>
        <!-- End Main Banner Area -->

        <!-- Start Fun Facts Area -->
        <section class="fun-facts-area pt-100 pb-70 funFact">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-fun-fact">
                            <div class="icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <h3>
                                <span class="odometer" data-count="1020">00</span>
                            </h3>
                            <p>Usersr</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-fun-fact">
                            <div class="icon">
                                <i class="fa fa-heart"></i>
                            </div>
                            <h3>
                                <span class="odometer" data-count="5679">00</span>
                            </h3>
                            <p>Happy Clients</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-fun-fact">
                            <div class="icon">
                                <i class="fa fa-star"></i>
                            </div>
                            <h3>
                                <span class="odometer" data-count="2660">00</span>
                            </h3>
                            <p>Reviews</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-fun-fact">
                            <div class="icon">
                                <i class="fa fa-download"></i>
                            </div>
                            <h3>
                                <span class="odometer" data-count="6789">00</span>
                            </h3>
                            <p>App Downloads</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Fun Facts Area -->

        <!-- Start About Area -->
        <section id="about" class="about-area pb-100">
            <div class="container">
                <div class="section-title">
                    <h2>About Our App</h2>
                    <div class="bar"></div>
                    <p>Our app is designed to help people convert text in different form either from image to text or from gif to image or from image to speech. It also comes with in built language translator which can easily translate text in more than 100 languages.</p>
                </div>
            </div>

            <div class="default-shape">
                <div class="shape-1">
                    <img src="/static/img/shape/1.png" alt="image">
                </div>

                <div class="shape-2 rotateme">
                    <img src="/static/img/shape/2.png" alt="image">
                </div>

                <div class="shape-3">
                    <img src="/static/img/shape/3.svg" alt="image">
                </div>

                <div class="shape-4">
                    <img src="/static/img/shape/4.svg" alt="image">
                </div>

                <div class="shape-5">
                    <img src="/static/img/shape/5.png" alt="image">
                </div>
            </div>
        </section>
        <!-- End About Area -->

        <!-- Start Features Area -->
        <section id="features" class="features-area pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Awsome Features</h2>
                    <!-- <div class="bar"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt  labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p> -->
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        
                      <div class="single-features">
                        <a href="/imagec">
                          <div class="icon">
                              <i class="fa fa-image"></i>
                          </div>
                          <h3>Image to text</h3>
                          <p>We present an online OCR service to extract text from image. Upload photo to our image to text converter, click on submit and get your text file instantly.</p>
                        </a>
                      </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="single-features">
                          <a href="/text_to_voice">
                            <div class="icon">
                                <i class="fa fa-microphone-lines"></i>
                            </div>
                            <h3>Text to speech</h3>
                            <p>Convert text into natural-sounding speech with just three steps Type what you want, select a language then click “Speak It” to hear.</p>
                          </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-features">
                          <a href="/imgtrans">
                            <div class="icon">
                                <i class="fa fa-language"></i>
                            </div>
                            <h3>Image translator</h3>
                            <p>Best for translating scanned documents, product manuals, and comics. Upload and get it Transalted within seconds.<br> Try it now <br></p>
                          </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-features">
                          <a href="/gif_to_text">
                            <div class="icon">
                                <i class="fa fa-file-video"></i>
                            </div>
                            <h3>Gif to text</h3>
                            <p>Take your text from those funny gifs and share it, using our Gif to Text convertor. <br> Try it now<br><br></p>
                          </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-features">
                          <a href="/translate_to_text">
                            <div class="icon">
                                <i class="fa fa-language"></i>
                            </div>
                            <h3>Text translator</h3>
                            <p>Instantly understand foreign language text. With our text convertor you can easily translate text, words or phrase whenever you want in 100+ languages.</p>
                          </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-features">
                          <a href="imgtospeech">
                            <div class="icon">
                                <i class="fa fa-circle-play"></i>
                            </div>
                            <h3>Image to speech</h3>
                            <p> To provide you with all the services. All features are FREE to use.<br>
                                If you like the Experience, we have our Paid services announced soon. 
                            </p>
                          </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="default-shape">
                <div class="shape-1">
                    <img src="/static/img/shape/1.png" alt="image">
                </div>

                <div class="shape-2 rotateme">
                    <img src="/static/img/shape/2.png" alt="image">
                </div>

                <div class="shape-3">
                    <img src="/static/img/shape/3.svg" alt="image">
                </div>

                <div class="shape-4">
                    <img src="/static/img/shape/4.svg" alt="image">
                </div>

                <div class="shape-5">
                    <img src="/static/img/shape/5.png" alt="image">
                </div>
            </div>
        </section>
        <!-- End Features Area -->

        <!-- End Screenshot Area -->
        <section id="screenshots" class="screenshot-area ptb-100 appss">
            <div class="container-fluid">
                <div class="section-title">
                    <h2>App Screenshot</h2>
                    <div class="bar"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt  labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                </div>

                <div class="screenshot-slider owl-carousel owl-theme">
                    <div class="screenshot-item">
                        <div class="image">
                            <img src="/static/img/screenshot/1.png" alt="image">
                        </div>
                    </div>

                    <div class="screenshot-item">
                        <div class="image">
                            <img src="/static/img/screenshot/2.png" alt="image">
                        </div>
                    </div>

                    <div class="screenshot-item">
                        <div class="image">
                            <img src="/static/img/screenshot/3.png" alt="image">
                        </div>
                    </div>

                    <div class="screenshot-item">
                        <div class="image">
                            <img src="/static/img/screenshot/4.png" alt="image">
                        </div>
                    </div>

                    <div class="screenshot-item">
                        <div class="image">
                            <img src="/static/img/screenshot/5.png" alt="image">
                        </div>
                    </div>

                    <div class="screenshot-item">
                        <div class="image">
                            <img src="/static/img/screenshot/6.png" alt="image">
                        </div>
                    </div>

                    <div class="screenshot-item">
                        <div class="image">
                            <img src="/static/img/screenshot/1.png" alt="image">
                        </div>
                    </div>

                    <div class="screenshot-item">
                        <div class="image">
                            <img src="/static/img/screenshot/2.png" alt="image">
                        </div>
                    </div>

                    <div class="screenshot-item">
                        <div class="image">
                            <img src="/static/img/screenshot/3.png" alt="image">
                        </div>
                    </div>

                    <div class="screenshot-item">
                        <div class="image">
                            <img src="/static/img/screenshot/4.png" alt="image">
                        </div>
                    </div>

                    <div class="screenshot-item">
                        <div class="image">
                            <img src="/static/img/screenshot/5.png" alt="image">
                        </div>
                    </div>

                    <div class="screenshot-item">
                        <div class="image">
                            <img src="/static/img/screenshot/6.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Screenshot Area -->

        <!-- Start Overview Area -->
        <section id="faq" class="faq-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>
                    <div class="bar"></div>
                    
                </div>

                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="faq-accordion-content">
                            <ul class="accordion">
                                <li class="accordion-item">
                                    <a class="accordion-title active" href="javascript:void(0)">
                                        <i class="fa fa-chevron-down"></i>
                                       what type of files can be choosen in the translator?
                                    </a>
        
                                    <p class="accordion-content show">For image converttor files with ..jpg and .png files are acceptted and for text converter only text is allowed.
                                      <br>  Hope it helps
                                    </p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fa fa-chevron-down"></i>
                                        What access do I have on the free plan?
                                    </a>
        
                                    <p class="accordion-content">At present, all functions are provided but soon our paid features with lot more features is coming soon. </p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fa fa-chevron-down"></i>
                                        How accurate is the image to text and gif to text
                                    </a>
        
                                    <p class="accordion-content"> For gifs and images with normal Disturbance it extracts all the text accurately and even with high disturbance text is extracted with great accuracy.
                                        <br> PLease use it and let us know how do you like it
                                    </p>
                                </li>
        
                                <!-- <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fa fa-chevron-down"></i>
                                        Which material types can you work with?
                                    </a>
        
                                    <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida</p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fa fa-chevron-down"></i>
                                        Why Choose Our Services In Your Business?
                                    </a>
        
                                    <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida</p>
                                </li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="faq-image">
                            <img src="/static/img/faq-mobile.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="default-shape">
                <div class="shape-1">
                    <img src="/static/img/shape/1.png" alt="image">
                </div>

                <div class="shape-2 rotateme">
                    <img src="/static/img/shape/2.png" alt="image">
                </div>

                <div class="shape-3">
                    <img src="/static/img/shape/3.svg" alt="image">
                </div>

                <div class="shape-4">
                    <img src="/static/img/shape/4.svg" alt="image">
                </div>

                <div class="shape-5">
                    <img src="/static/img/shape/5.png" alt="image">
                </div>
            </div>
        </section> -->
        <!-- End Faq Area -->

        <!-- Start Team Area -->
        <section class="team-area pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Our Expert Team</h2>
                    <div class="bar"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt  labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-team">
                            <div class="image">
                                <img width="346px" width="500px" src="https://lh3.googleusercontent.com/pw/AM-JKLV3OW3n21dOG5mJPQ_ytlcc3B_ps5qrBiwZxo-ClyddqcC7KEsUNTswnUFWjLiSuYDHwotro4C81-_zfiGfHnk3VMQfonMN-Zb6C_VJYyag_jokUye7rvOcj6ygSlffSOLS40Gm_TXidWADdbkSU1b6=s625-no?authuser=0" alt="image">
                            
                                <ul class="social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
    
                                <div class="content">
                                    <h3>Idris Ratlamwala</h3>
                                    <p>Founder & CEO</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-team">
                            <div class="image">
                                <img width="500px" src="https://lh3.googleusercontent.com/pw/AM-JKLWKyypN5JUx2BmyFM3NHjRzm63nGKJeiW6vOuQbsIootYDNr-whsJZRrYMBs734rp-qF40TW2HqVfyaOlJEE1UIxGhNdAPX2JlEyNkY445S71jY_JUg3dKFHdUTLQFlZKvj4FcDZv4h0PP7mnPkwVPJ=w380-h370-no?authuser=0" alt="image">
                            
                                <ul class="social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
    
                                <div class="content">
                                    <h3>Priyansh Salian</h3>
                                    <p>Co-Founder</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-team">
                            <div class="image">
                                <img src="/static/img/team/image3.jpg" alt="image">
                            
                                <ul class="social">
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
    
                                <div class="content">
                                    <h3>Lavin Rupani</h3>
                                    <p>Employee</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="default-shape">
                <div class="shape-1">
                    <img src="/static/img/shape/1.png" alt="image">
                </div>

                <div class="shape-2 rotateme">
                    <img src="/static/img/shape/2.png" alt="image">
                </div>

                <div class="shape-3">
                    <img src="/static/img/shape/3.svg" alt="image">
                </div>

                <div class="shape-4">
                    <img src="/static/img/shape/4.svg" alt="image">
                </div>

                <div class="shape-5">
                    <img src="/static/img/shape/5.png" alt="image">
                </div>
            </div>
        </section>
        <!-- End Team Area -->

        <!-- Start Footer Area -->
        <section class="footer-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <a href="#" class="logo">
                                <h2>Web Simplifier</h2>
                            </a>
                            <p>Convert your text in any form just by click of a button.</p>
                            <ul class="social-list">
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>Company</h3>
                            <ul class="list">
                                <li>
                                    <a href="#">
                                        About
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Carrers
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Awards
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        User Program
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Locations
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Login
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Products</h3>
                            <ul class="list">
                                <li>
                                    <a href="#">
                                        Integrations
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        API
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Documentation
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Sign Up
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Release Notes
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        User Program
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Footer Area -->

        <!-- Start Copy Right Area -->
        <div class="copy-right">
            <div class="container">
                <div class="copy-right-content">
                    <p>
                        Copyright © 2022 Text Simplified. All Rights Reserved by
                        <a href="https://hibootstrap.com" target="_blank">
                            Team1
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <!-- Start Go Top Section -->
        <div class="go-top">
            <i class="fa fa-chevron-up"></i>
            <i class="fa fa-chevron-up"></i>
        </div>
        <!-- End Go Top Section -->


        <!-- jQuery Min JS -->
        <script src="/static/js/jquery-3.5.1.min.js"></script>
        <!-- Popper Min JS -->
        <!-- <script src="/static/js/popper.min.js"></script> -->
        <!-- Bootstrap Min JS -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="/static/js/owl.carousel.min.js"></script>
        <!-- Appear JS -->
        <script src="/static/js/jquery.appear.js"></script>
        <!-- Odometer JS -->
        <script src="/static/js/odometer.min.js"></script>
        
        <script src="/static/js/main.js"></script>
        <script>
            let a = "{{frombrow}}"
            console.log(a);
            console.log(typeof a);
            if(a.localeCompare("True")){
                document.getElementById("feat").click();
            }
        </script>
    </body>
</html>